#formulario-contacto {
    display: flex;
    flex-flow: wrap;
    justify-content: start;
    margin-left: 15px;
    
  }
  
.formulario {
  max-width: 100%;
  padding: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: bold;
  font-size: 15px;
  color: aliceblue;
  border-radius: 10px;
  box-shadow: inset 1px 1px 15px 4px;

    }
    @media  screen and (max-width:800px) {
      .formulario{
        margin-left: 15px;
      }
      
    }
  .sexo {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-evenly;
  }
  .submit-form{
    display: flex;
    justify-content: space-around;
  }
  .mapa {
    margin-top: 50px;
  }