.color-nav{
    background-color: rgb(75, 4, 4);
    font-size: 2rem;
    li a{ color: rgb(252, 252, 252);
    }   
  }
 
  
  .parte-arriba{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }
  
  .logo-principal {
    width: 10rem;    
  }
  
